@import url(globals.css);
@import './functions/generalFuncs.scss';

$corPrincipal: #069e2d;
$corPrincipalSuave: #058e3f;
$corPrincipalForte: #005c02;
$corPrincipal2: #03440c;

$borderRadiusPadrao: 10px;

h1 {
    color: var(--cor-principal-suave);
}

h1 span {
    color: var(--cor-principal)
}

.container {
    width: 250px;
    height: 250px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
}

.landing__button {
    @include button(132px, 40px, 4px, white, $corPrincipal, 6px, $corPrincipalSuave);
}

/* Debug */
.debugContainer {
    ul {
        display: flex;
        justify-content: center;
        gap: 12px;

        li {
            display: flex;
            flex-direction: column;
            padding: 8px;
            text-align: center;
            border: 1px solid $corPrincipal2;
            border-radius: 6px;

            a {
                color: $corPrincipalSuave;
                font-weight: bold;

                &:hover {
                    color: $corPrincipal;
                }
            }

            span {
                opacity: 0.7;
            }
        }
    }
}