@import url(globals.css);

$corPrincipal: #069e2d;
$corPrincipalSuave: #058e3f;
$corPrincipalForte: #005c02;
$corPrincipal2: #03440c;

$borderRadiusPadrao: 10px;

@mixin display_flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($seconds: 200ms, $normalTransition: true, $transitionType: ease-in-out) {
    @if $normalTransition {
        transition: $seconds
    } @else {
        transition: $seconds $transitionType;
    }
}

h1 {
    color: var(--cor-principal-suave);
}

h1 span {
    color: var(--cor-principal)
}

.container {
    width: 250px;
    height: 250px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
}

.devContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(13, 125, 0);
    padding: 8px;
    border-radius: 4px;
    font-family: sans-serif;

    a {
        transition: 250ms;
        font-weight: bold;
        color: rgb(108, 108, 255);
    }

    a:hover {
        color: rgb(46, 46, 255)
    }

    span {
        color: rgb(184, 184, 184);
    }
}