@import 'defaults.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    .logo {
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: center;
        font-size: 35px;
    }

    svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    
    display: flex;
    flex-direction: row;
    background-color: black;
    color: $textColorWhite;
    height: 350px;
    padding: 8px 22px;
    font-weight: bold;
    .divisor {
        width: 1px;
        height: 100%;
        margin: 12px;
        background-color: $textColorWhite;
    }

    .footer__navlist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
    }

    .footer__routes {
        display: flex;
        flex-direction: column;
        margin: 10px;
        a {
            color: $textColorWhite;
        }
    }

    .footer__space {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 10px;
    }
}