@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --cor-principal: #009603;
  --cor-principal-suave: #00b003;
  --cor-principal-2: #4bff4e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* RESET */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: black;
}

.gradiente {
  background: rgb(255,255,255); /* O fundo precisa ser branco */
  background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(75,255,78,1) 52%, rgba(0,55,152,1) 100%); /* Gradiente na prática */  
}

p {
  color: var(--cor-principal-2); 
}
/* =========== */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}