@import 'defaults';

/* Base */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px;
    height: 40px;

    h1 {
        font-weight: bold;

        svg {
            position: relative;
            top: 1px;

            color: green;
            margin-right: 5px;
            font-size: 1.1em;
        }
    }
}

/* Landing page */
.header__rightside {
    @include display_flex(row, center, center);
    
    li {
        font-weight: 300;
        cursor: pointer;
        margin: 0 10px;
        font-size: .9em;
    }

    &__pages {
        @include display_flex(row, center, center);
    }

    .language_section:hover {
        cursor: pointer;
        transition: 0.1s ease all;
        filter: invert(48%) sepia(77%) saturate(400%) hue-rotate(86deg) brightness(100%);
    }

    .createAccount {
        @include transition(175ms);

        background-color: $corPrincipal;
        border-radius: $borderRadiusPadrao;
        padding: 10px;
        font-weight: 500;
        color: white;

        &:hover {
            background-color: $corPrincipalSuave;
        }
    }

    /* Formatacoes */
    .header__rightside__pages {
        font-weight: 300;
        font-size: 1.1em;

        .option {
            height: 100%;
            padding: 6px;
        }

        .option:hover {
            color: green;
            font-weight: 500;
            border-bottom: 2px solid green;
        }

        .login__button {
            @include transition(175ms);

            font-weight: 500;
            color: green;
            background-color: rgb(242, 242, 242);
            border-radius: $borderRadiusPadrao;

            &:hover {
                background-color: rgb(232, 232, 232);
                border-bottom: none;
            }
        }
    }
}