@import 'defaults';

header {
    width: 100%;
    padding: 30px 14px;
    border-bottom: 1px solid rgb(240, 240, 240);

    h1 {
        svg {
            color: green;
            font-size: 1.1em;
            position: relative;
            top: 1px;
            margin-right: 6px;
        }
    }
}

/* Landing page */
.header__rightside {
    @include display_flex();
    height: 40px;
    
    li {
        cursor: pointer;
        margin: 0 10px;
    }

    &__pages {
        @include display_flex($align: center);
    }

    .language_section:hover {
        cursor: pointer;
        transition: 0.1s ease all;
        filter: invert(48%) sepia(77%) saturate(400%) hue-rotate(86deg) brightness(100%);
    }

    .header__user {
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            font-weight: 500;
            font-size: .9em;
        }

        svg {
            background-color: green;
            color: white;
            width: 22px;
            height: 24px;
            padding: 10px;
            border-radius: 20px;
        }
    }

    .create_account {
        @include transition(175ms);

        background-color: $corPrincipal;
        border-radius: $borderRadiusPadrao;
        padding: 10px;
        font-weight: 500;
        color: white;

        &:hover {
            background-color: $corPrincipalSuave;
        }
    }



    /* Formatacoes */
    .header__rightside__pages {
        font-weight: 300;
        font-size: 0.86em;

        .option {
            height: 100%;
            padding: 6px;
        }

        .option:hover {
            color: green;
            font-weight: 500;
            border-bottom: 2px solid green;
        }

        .login__button {
            @include transition(175ms);

            font-weight: 500;
            color: green;
            background-color: rgb(242, 242, 242);
            border-radius: $borderRadiusPadrao;

            &:hover {
                background-color: rgb(232, 232, 232);
                border-bottom: none;
            }
        }
    }
}