@import 'defaults.scss';

input[type=text], input[type=email], input[type=password], input[type=number], .userInput {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 32px;
    border: none;
    
    border-bottom: 2px solid $corPrincipal;
}

input[type=submit] {
    transition: 250ms;
    background-color: $corPrincipalSuave !important;
    align-self: start;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    color: color;
    margin-top: 16px;
    /* margin: 0 auto; */

    &:hover {
        background-color: $corPrincipal !important;
    }
}