@import 'loginPage.scss';
@import 'defaults.scss';

#inputBox {
    gap: 20px;
}

#loginSection {
    width: 55%;

    .internalLoginSection {
        gap: 32px;

        #internalLoginSection__registerOrientation {
            display: flex;
            justify-content: space-between;

            .registerOrientation__pages {
                display: flex;
                gap: 8px;

                li {
                    transition: 150ms;
                    text-align-last: center;
                    padding-top: 10%;
                    background-color: $corPrincipalSuave;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;

                    &:hover {
                        background-color: $corPrincipal;
                    }

                    /* &:nth-child(3)::before {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 2px;
                        background-color: gray;
                    } */
                }
            }
        }
    }
}

#lateralSection {
    width: 45%;
}

input[type=text], input[type=email], input[type=password], .userInput {
    padding: 0 6px;
}

.inputContainer {
    height: auto;
}

.registerSelect {
    border: 2px solid $corPrincipal;
    border-radius: 3px;
    width: 142px;
}

.inputsRow {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin: 8px;

    .inputContainer {
        width: 100%;
    }
}