@import "defaults.scss";
@import "../styles/functions/generalFuncs.scss";

.stockSection {
  color: $textColorBlack;
  font-size: clamp(0.46em, 5vw, 1.3em);
  background-color: $bg2;
  padding: 30px;
  @include display_flex($direction: row, $justify: space-around);

  &__title {
    @include display_flex($direction: column, $align: center, $justify: space-around);
    margin: 0px 30px;

    h1 {
        font-size: clamp(0.46em, 5vw, 3em);
        color: $corPrincipal;
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        line-height: 1;
        width: auto; /* Add this */
        align-items: center; /* Add this */
      }

    p {
      font-size: clamp(0.46em, 3.5vw, 1.8em);
      font-weight: 600;
      line-height: 1.5;
      color: $textColorWhite;
    }

    a {
      border: solid 2px $corPrincipal;
      margin: 10px 0px;
      padding: 15px;
      font-size: clamp(0.46em, 5vw, 1.3em);
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      color: $textColorWhite;

      &:hover {
        text-decoration: none;
        background-color: $corPrincipal;
        transition: 0.3s ease-in-out;
        color: $textColorBlack;
        padding: 20px;
      }
    }
  }
}

.stockWrapper {
  @include display_flex($direction: row, $justify: space-around);
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 30px;
  align-content: stretch;
  align-items: start;

  &__spanButton {
    @include display_flex($justify: center, $align: center);
  }

  &__button {
    @include display_flex($justify: center, $align: center);
    font-size: clamp(0.46em, 5vw, 1.1em);
    padding: 13px;
    width: 100%;
    border: solid 2px $corPrincipal;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    margin-bottom: 20px;
    color: $textColorWhite;

    &:hover {
      text-decoration: none;
      background-color: $corPrincipal;
      transition: 0.3s ease-in-out;
      border-radius: 14px;
      color: $textColorBlack;
    }
  }

  &__card {
    border-radius: 10px;
    width: 20vw;
    height: 75vh;
    background-color: #dcdcdc;
    @include display_flex($direction: column, $justify: center, $align: center);
    align-items: center;
    padding: 20px;

    .stock {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 10vh;
      background-color: gray;
      margin: 20px;
      border-radius: 10px;

      .icon {
        width: 50px;
        height: 50px;
        margin: 0px 0px 0px 10px;
        background-color: #393939;
      }

      .code {
        width: 70px;
        height: 20px;
        margin: 0px 0px 0px 10px;
        background-color: #393939;
      }

      .name {
        width: 70px;
        height: 20px;
        margin: 10px 0px 0px 10px;
        background-color: #393939;
      }

      .price {
        width: 70px;
        height: 50px;
        background-color: #153e01;
        color: white;
        margin: 0px 0px 0px 20px;
      }

      .perc {
        width: 50px;
        height: 50px;
        background-color: #216400;
        color: white;
        margin: 0px 10px 0px 10px;
      }
    }

    // .test {
    //     width: 50px;
    //     height: 60px;
    //     margin: 20px;
    //     background-color: white;
    //     border-radius: 50%;
    // }

    // .text {
    //     width: 30%;
    //     height: 20px;

    //     background-color: black;

    // }

    // .price {

    //     width: 70%;
    //     height: 30px;

    //     background-color: black;
    //     margin: 20px 0px;
    // }
  }
}
