@mixin display_flex($direction: row, $justify: left, $align: top) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transition($seconds: 200ms, $normalTransition: true, $transitionType: ease-in-out) {
    @if $normalTransition {
        transition: $seconds
    } @else {
        transition: $seconds $transitionType;
    }
}

@mixin button($width: 100px, $height: 40px, $bgColor, $txtColor, $Radius, $hColor) {
    width: $width;
    height: $height;
    background-color: $bgColor;
    color: $txtColor;
    border-radius: $Radius;

    transition: 175ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $hColor;
    }
}